/*                                   */
/*        LEGEND                     */
/*                                   */
/*        1.0 Global Variables       */
/*        2.0 Landscape/Base Styles  */
/*         2.1 Helpers               */
/*         2.2 Write Screen          */
/*         2.3 Read Screen           */
/*        3.0 Media Queries          */
/*         3.1 Portrait              */
/*         3.2 Small Screen          */
/*         3.3 Misc fixes            */
/*                                   */


/*                      */
/* 1.0 Global Variables */
/*                      */

$planning-color: rgb(57, 181, 74);
$photo-set-color: rgb(252, 169, 30);
$cross-cutting-color: rgb(146, 130, 243);
$open-color: rgb(205, 22, 172);
$tag-color: rgb(187, 182, 181);


/*                           */
/* 2.0 Landscape Orientation */
/*                           */
@media all {
  body {
    font-family: "Roboto", sans-serif;
  }

  .orientation-warning {
    display: none;
  }
  /*disable bootstrap default hover state*/
  .disabled{
    color: #333 !important;
    text-decoration: none !important;
  }

  input {
    -moz-user-select: text;
    -webkit-user-select: text;
    user-select: text;
    color: #333;
  }

  /*                      */
  /*  2.1 Helper Styles   */
  /*                      */

  .scrollable-y {
    overflow-y: scroll;
  }

  .scrollable-x {
    overflow-x: scroll;
  }

  .hidden {
    display: none;
  }

  #start-screen {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(34, 33, 34);
    z-index: 9999;
    text-align: center;
  }
  #start-screen {
    .start-screen-img-container {

      margin-top: 30%;
    }
    .start-screen-img {
      width: 100px;
      height: 102px;
      margin: 1em;
    }
    div {
      margin-top: 20px;
      color: white;
      font-size: 2.3em;
    }
  }


  .view-container {
    margin: 0 2%;
    min-height: 300px !important;
    margin-bottom: 10px;
    position: relative;
    background-color: white;
  }
  textarea.note-text-input {
    -moz-user-select: text;
    -webkit-user-select: text;
    user-select: text;
    color: #333;
    width: 98%;
    padding: 10px;
    resize: vertical;
  }
  .photo {
    width: 12em;
    height: 9em;
    margin: 0.2em;
  }
  .tag {
    width: 12em;
    height: 2.5em;
    background-color: #bbb6b5;
    text-align: center;
    line-height: 2.5em;           /* to center vertically */
    border: black solid 1px;
    border-radius: 0.6em;
    margin: 0.3em;
    display: inline-block;
  }
  #filter-note-types-container .tag {
    color: white;
  }
  .selected {
    opacity: 0.4;
  }
  .btn-large {
    width: 160px;
  }
  .btn-small {
    width: 12em;
    height: 2em;
    font-size: 1.2em;
    margin: 1%;
  }
  .modal-body {
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
  }
  /* TODO: clean this up by combining classes here */
  .photo-modal-body {
    text-align: center;
    padding: 2%;
  }
  .photo-picker {
    width: 60%;
  }
  .add-photos-btn {
    margin-top: 2em;
  }
  .tags-modal-body {
    text-align: center;
    padding: 2%;
  }
  .tag-picker {
    width: 60%;
  }
  .add-tags-btn {
    margin-top: 2em;
  }
  .note-btn-container {
    text-align: center;
    margin-top: 4em;
  }

  /*********************************** NAVBAR *********************************/

  /* This hides any element with class alert directly after an input field with a pattern (regex) */
  input {
    &[pattern] {
      + .alert {
        display: none;
      }
      &:invalid {
        + .alert {
          display: inline-block;
        }
        ~ button {
          display: none;
        }
      }
    }
    &:disabled {
      display: none;
    }
  }
  /* If pattern (regex) is violated alert is shown */
  /* If pattern (regex) is violated submit button is hidden */
  #login-button:disabled {
    display: none;
  }
  .login-button {
    margin: 1%;
    min-width: 6em;
  }
  .username-display .hide {
    display: none;
  }
  /* BODY - ALL */
  .row-fluid {
    /*width: 98%;*/
    /*padding-left: 1%;*/
    padding-top: 50px;
    .hidden {
      /* TODO: this is a crude way of hiding right now and should be improved */
      display: none;
    }
  }
  /*                  */
  /* 2.2 Write Screen */
  /*                  */

  /* TODO shouldn't the rest be wrapped in here too? */
  #notes-screen-input, #read-screen {

    .note-type-picker {
      .planning, .photo-set, .cross-cutting, .open {
        background-image: none;
      }
      .planning {
        background-color: $planning-color;
      }
      .photo-set {
        background-color: $photo-set-color;
      }
      .cross-cutting {
        background-color: $cross-cutting-color;
      }
      .open {
        background-color: $open-color;
      }
    }


    li.planning {
      a {
        color: $planning-color;
      }
    }
    li.cross_cutting {
      a {
        color: $cross-cutting-color;
      }
    }
    li.open {
      a {
        color: $open-color;
      }
    }
    li.photo_set {
      a {
        color: $photo-set-color;
      }
    }
  }

  .note-input {
    .input-container {
      width: 60%;
    }
    .note-type-title {
      background-color: $planning-color;
      color: white;
      padding: 0.7em 2em 0.7em;
      margin-bottom: 1.5em;
    }
    .form-group {
      padding-left: 20%;
      padding-right: 20%;
    }
    label {
      font-weight: 900;
    }
    hr {
      height: 7px;
      border-radius: 10px;
      border: 0;
    }
    .input-field-group {
      margin-bottom: 1em;
    }
    .camera-btn {
      width: 3em;
      margin-left: 1em;
      /* fix this eventually - all the buttons and add related_camera_traps */
    }
    .related-camera-traps-input {
      width: 2em;
      margin-left: 0.8em;
      margin-bottom: -0.1em;        /* to get this to align with the text and button elements */
      margin-right: 0.1em;
    }
    .add-related-camera-traps-btn {
      color: white;
    }
    /* think about a total container for note entry of about 60% (instead of this) */
    .map-region-dropdown {
      width: 60%;
    }
    .tag-btn {
      width: 1em;
      height: 1em;
      margin-left: 0.3em;
      font-size: 2.5em;
      font-weight: 900;
      color: white;
      padding-bottom: 0.25em;
    }
  }

  .photos-container {
    overflow-y: scroll;
  }
  .planning-note-input .note-type-title,
  .cross-cutting-note-input .note-type-title,
  .open-note-input .note-type-title,
  .photo-set-note-input .note-type-title {
    width: 25%;
    min-width: 350px;
    border-radius: 0 0 10px 0;
    border-bottom: 2px solid #7E7E7E;
    margin: -14px 0 25px -5px;
    padding: 10px 0;
    h3 {
      display: inline-block;
      margin: 0 10px 0 10px;
      padding-left: 32px;
    }
  }

/*                    */
/*   planning note    */
/*                    */
  .planning-note-input {
    .note-type-title {
      background-color: $planning-color;
    }
    textarea {
      border-color: $planning-color;
    }
    hr {
      background: $planning-color;
    }
    .add-related-camera-traps-btn {
      background-color: $planning-color;
      border-color: $planning-color;
    }
    .tag-btn {
      background-color: $planning-color;
      border-color: $planning-color;
    }
  }

  /*                    */
  /*   photo set note   */
  /*                    */
  .photo-set-note-input {
    .note-type-title {
      background-color: $photo-set-color;
    }
    textarea {
      border-color: $photo-set-color;
    }
    hr {
      background: $photo-set-color;
    }
    .add-related-camera-traps-btn {
      background-color: $photo-set-color;
      border-color: $photo-set-color;
    }
    .tag-btn {
      background-color: $photo-set-color;
      border-color: $photo-set-color;
    }
  }

  /*                        */
  /*   cross-cutting note   */
  /*                        */
  .cross-cutting-note-input {
    .note-type-title {
      background-color: $cross-cutting-color;
    }
    textarea {
      border-color: $cross-cutting-color;
    }
    hr {
      background: $cross-cutting-color;
    }
    .tag-btn {
      background-color: $cross-cutting-color;
      border-color: $cross-cutting-color;
    }
  }

  /*                        */
  /*   cross-cutting note   */
  /*                        */
  .open-note-input {
    .note-type-title {
      background-color: $open-color;
    }
    textarea {
      border-color: $open-color;
    }
    hr {
      background: $open-color;
    }
    .tag-btn {
      background-color: $open-color;
      border-color: $open-color;
    }
  }
/*                  */
/* 2.3 Read Screen  */
/*                  */

  #activity-dropdown {
    float: left;
    width: -moz-calc(100% - 115px);
    width: -webkit-calc(100% - 115px);
    width: calc(100% - 115px);
    height: 100%;
    font-size: 30px;
    margin-bottom: 20px;
  }

  #filter-note-types-container {
    margin-bottom: 15px;
  }

  .note-entry-field {
    width: 99%;
    margin-top: -11px;
  }
  .headline-text-entry {
    width: 65%;
  }

  .input-box-wrapper {
    padding: 5px;
  }
  /*             */
  /* List Screen */
  /*             */

  #list-screen {
    .span12 {
      border-bottom: 1px solid #eee;
    }
    .span4 {
      margin-left: 0;
      li.planning, li.cross_cutting, li.open, li.photo_set {
        background-color: #fff;
      }
      li.planning {
        h4 {
          color: $planning-color;
          padding-top: 2px;
        }
      }
      li.cross_cutting {
        h4 {
          color: $cross-cutting-color;
          padding-top: 2px;
        }
      }
      li.open {
        h4 {
          color: $open-color;
          padding-top: 2px;
        }
      }
      li.photo_set {
        h4 {
          color: $photo-set-color;
          padding-top: 2px;
        }
      }
    }
    .span8 {
        margin-left: 0;
      .note-details-container {
        h3, h6, p {
          padding-left: 20px;
        }
      }
      .open-note-details h3, .planning-note-details h3, .cross-cutting-note-details h3, .photo-note-details h3 {
        color: #fff;
        display: inline-block;
        padding-right: 2%;
        margin-top:0;
        border-radius: 0 10px 10px 0;
        border-bottom: 2px solid #7e7e7e;
      }
      .open-note-details h3 {
        background-color: $open-color;
      }
      .planning-note-details h3 {
        background-color: $planning-color;
      }
      .cross-cutting-note-details h3 {
        background-color: $cross-cutting-color;
      }
      .photo-note-details h3 {
        background-color: $photo-set-color;
      }
    }
    .span4 {
      max-height: 708px - 120px;
      border-right: 1px solid #eee;
    }
    .list-item {
      margin-left: 2%;
      border-bottom: 1px solid #eee;
    }
    .list-item:last-child {
      border-bottom: none;
    }
  } /* end .span8 */
  .filter-notes-modal {
    .planning {
      background-color: $planning-color;
    }
    .cross-cutting {
      background-color: $cross-cutting-color;
    }
    .open {
      background-color: $open-color;
    }
    .photo-set {
      background-color: $photo-set-color;
    }
  }
}   /* end orientation landscape */


/*                 */
/*  3.0 Portrait   */
/*                 */

/*@media all and (orientation: portrait) {
  .row-fluid, .navbar {
    display: none;
  }
  .orientation-warning {
    text-align: center;
    font-size: 2em;
    margin-top: 25%;
  }
}*/


// 3.1 Portrait (Max width 767px and below)

@media (max-width: 767px)
{
  #list-screen {

    .span12 {
      border-bottom: none;
      .pull-right {
        padding-top: 5px;
      }
    }

    .span4 {
      height: 300px;
      border-bottom: none;
      border-right: none;
      border-top: 1px solid #eee;
      margin: 3% 0 3% 0;
    }

    .span8.note-details {
      .note-details-container {
        h3 {
          width: 95%;
          border-radius: 10px;
          font-size: 20px;
          line-height: 35px;
        }
      }
    }
  }
  #notes-screen-input {
    .note-type-title {
      margin-left: -25px;
      margin-bottom: 5%;
    }
  }
}

// 3.2 Small Screen/Phone and below specific styles
@media (max-width: 485px) {
  #list-screen {
    .span12 {
      .pull-right {
        float: left !important;
        margin-left: 1%;
        margin: 1% 0 1% 1%;
        padding: 0 0 5px 0;
        button {
          margin: 0 5px 0 0;
          display: inline-block !important;
        }
      }
    }
  }
}

// 3.3 Misc screen width specific fixes
@media (max-width: 980px) {
  .row-fluid {
    padding-top: 0px;
  }
  .planning-note-input .note-type-title,
  .cross-cutting-note-input .note-type-title,
  .open-note-input .note-type-title,
  .photo-set-note-input .note-type-title {
  margin: -25px 0 10px -5px;
  }
}
