<!DOCTYPE html>
<html lang="en">
<head>
    <title>Neighbourhood Safari Mobile</title>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <link href="../libs/bootstrap-2.3.2.min.css" rel="stylesheet">
    <link href="../libs/bootstrap-responsive-2.3.2.min.css" rel="stylesheet">
    <link href="css/mobile.css" rel="stylesheet">
    <link href="../libs/jquery.toastmessage.css" rel="stylesheet">

    <script type="text/javascript" src="../libs/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="../libs/bootstrap-2.3.2.min.js"></script>

    <script type="text/javascript" src="../node_modules/underscore/underscore.js"></script>
    <script type="text/javascript" src="../node_modules/backbone/backbone.js"></script>

    <script type="text/javascript" src="../node_modules/backbone.drowsy/backbone.drowsy.js"></script>
    <script type="text/javascript" src="../node_modules/backbone.drowsy/wakeful.js"></script>

    <script type="text/javascript" src="../libs/jquery.toastmessage.js"></script>
    <script type="text/javascript" src="../libs/jquery.cookie.js"></script>
    <script type="text/javascript" src="../libs/purl.js"></script>

    <script type="text/javascript" src="../shared/js/skeletor.js"></script>
    <script type="text/javascript" src="../shared/js/model.js"></script>
    <script type="text/javascript" src="../shared/js/rollcall.js"></script>


    <script type="text/javascript" src="js/mobile.js"></script>
    <script type="text/javascript" src="js/mobile.view.js"></script>


    <!--                        -->
    <!-- READ SCREEN TEMPLATES  -->
    <!--                        -->

    <script id="open-note-detail-template" type="text/template">
        <div class="note-details-container">
            <h3>Open Note</h3>
            <hr>
            <p>Created by: <%= author %></p>
            <span class="small"><%= created_at %></span>
        </div>
    </script>

    <script id="photo-note-detail-template" type="text/template">
        <div class="note-details-container">
            <h3>Photo Set Note</h3>
            <hr>
            <p>Created by: <%= author %></p>
            <span class="small"><%= created_at %></span>
        </div>
    </script>

    <script id="cross-note-detail-template" type="text/template">
        <div class="note-details-container">
            <h3>Cross Cutting Note</h3>
            <hr>
            <p>Created by: <%= author %></p>
            <span class="small"><%= created_at %></span>
        </div>
    </script>

    <script id="planning-note-detail-template" type="text/template">
        <div class="note-details-container">
            <h3>Planning Note</h3>
            <hr>
            <p>Created by: <%= author %></p>
            <span class="small"><%= created_at %></span>
        </div>
    </script>

    <!--                  -->
    <!--   NOTE TEMPLATE  -->
    <!--                  -->

    <script id="notes-list-template" type="text/template">
        <a class="disabled" href="#">
            <li class="list-item" data-id=<%= id %>>
                <div>
                    <h4>Note Title</h4>
                    <i><span><%= author %></span></i>
                    <div class="note-text">
                        <p><%= text %></p>
                        <p class="small">Published at <%= created_at %></p>
                    </div>
                </div>
                <hr>
            </li>
        </a>
    </script>

    <!--                                    -->
    <!-- RESUME UNPUBLISHED NOTES TEMPLATE  -->
    <!--                                    -->

    <script id="resume-unpublished-notes" type="text/template">
        <option data-id="<%= id %>" ><%= option_text %></option>
    </script>

    <!--                                   -->
    <!-- Choose new note type for WriteView -->
    <!--                                   -->

    <!--<script id="choose-new-note-type" type="text/template">
        <button class="btn btn-primary new-note" onclick="alert('Hello world!')" value="planning_note">Planning note</button>
        <button class="btn btn-primary new-note" value="photo_set_note">Photo set note</button>
        <button class="btn btn-primary new-note" value="cross_cutting_note">Cross-cutting note</button>
        <button class="btn btn-primary new-note" value="open_note">Open note</button>
    </script>-->


    <!--                         -->
    <!--  WRITE SCREEN TEMPLATE  -->
    <!--                         -->

    <script id="planning-note-input" type="text/template">
        <form class="planning-note-input note-input">
            <div class="note-type-title">Photo Set Note</div>
            <div class="form-group">
                <label>Your hypothesis or question</label>
                <textarea class="note-hypothesis note-text-input row-fuild" name="hypothesis" rows="2" placeholder="Describe what you think you will see..."></textarea>
                <label>Photographic evidence</label>
                <div class="input-button-field">
                    <span>Add a photo of your planning map</span><img class="camera-btn" src="img/camera1_small.png"/>
                </div>
                <div class="input-button-field">
                    <span>Identify the camera trap number(s) you included on your map</span>
                </div>
                <div class="input-button-field">
                    <span>Add additional photos from your backpack that support your reasoning</span><img class="camera-btn" src="img/camera1_small.png"/>
                </div>
                <textarea class="note-description note-text-input row-fuild" name="description" rows="2" placeholder="Describe how these photos influenced your plan..."></textarea>
                <label>Other evidence that influenced your plan</label>
                <textarea class="note-evidence note-text-input row-fuild" name="evidence" rows="2" placeholder="Describe other evidence (e.g., animal signs, readings) that influenced your plan..."></textarea>
                <hr/>
                <textarea class="note-title note-text-input row-fuild" name="title" rows="1" placeholder="Give your note a title..."></textarea>
            </div>
        </form>
    </script>

    <script id="photo-set-note-input" type="text/template">
        <form class="photo-set-note-input note-input">
            <div class="note-type-title">Photo Set Note</div>
            <div class="form-group">
                <span>Identify your camera trap number </span>
                <label>What you found</label>
                <textarea class="note-description note-text-input row-fuild" name="description" rows="2" placeholder="Describe what you found in your photo set..."></textarea>
                <textarea class="note-explanation note-text-input row-fuild" name="explanation" rows="2" placeholder="Explain how what you found compares to what you expected to find..."></textarea>
                <textarea class="note-question note-text-input row-fuild" name="question" rows="1" placeholder="State any questions your findings raise..."></textarea>
                <hr/>
                <textarea class="note-title note-text-input row-fuild" name="title" rows="1" placeholder="Give your note a title..."></textarea>
            </div>
        </form>
    </script>

    <script id="cross-cutting-note-input" type="text/template">
        <form class="cross-cutting-note-input note-input">
            <div class="note-type-title">Cross-cutting Note</div>
            <div class="form-group">
                <textarea class="note-description note-text-input row-fuild" name="description" rows="2" placeholder="Describe what interests you about these photos..."></textarea>
                <textarea class="note-explanation note-text-input row-fuild" name="explanation" rows="2" placeholder="Explain how your work compares to that of others..."></textarea>
                <hr/>
                <textarea class="note-title note-text-input row-fuild" name="title" rows="1" placeholder="Give your note a title..."></textarea>
            </div>
        </form>
    </script>

    <script id="open-note-input" type="text/template">
        <form class="open-note-input note-input">
            <div class="note-type-title">Open Note</div>
            <div class="form-group">
                <textarea class="note-description note-text-input row-fuild" name="description" rows="2" placeholder="Describe what your note is about..."></textarea>
                <hr/>
                <textarea class="note-title note-text-input row-fuild" name="title" rows="1" placeholder="Give your note a title..."></textarea>
            </div>
        </form>
    </script>

    <!-- reply template -->
    <script id="reply-view-template" type="text/template">
        <a class="reply">
            <div class="author-container">
                <div class="author"><%= author %></div>
            </div>
            <div class="content"><%= content %></div>
        </a>
    </script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <!-- .btn-navbar is used as the toggle for collapsed navbar content
                TODO: what does this until brand do? Took it out and didn't see change-->
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="#">Should be overwritten by project_name in config.json</a>
                <div class="nav-collapse collapse navbar-responsive-collapse">
                    <ul class="nav nav-pills">
                        <li class="read-button"><a href="#">Read</a></li>
                        <li class="write-button"><a href="#">Write</a></li>
                    </ul>
                    <ul class="nav pull-right">
                        <li class="active username-display"><a></a></li>
                        <li class="active logout-user"><a>Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!--               -->
    <!--  READ SCREEN  -->
    <!--               -->

    <div id="read-screen" class="row-fluid">
        <div class="view-container bs-docs-sidebar">
            <!-- Read View looks at the list-screen element -->
            <div id="list-screen" class="bs-docs-sidebar">
                <div class="span12">
                    <button class='btn btn-primary pull-right clear-notes'>Clear Filters</button>
                    <button class='btn btn-primary pull-right filter-notes'>Filters Notes</button>
                </div>

                    <div class="span4">
                        <!--  -->
                        <h3 class="note-number-total">Notes</h3>
                        <ul class="nav bs-docs-sidenav affix-top scrollable note-list">
                            <!-- Notes populate this element -->
                        </ul>
                    </div>

                    <div class="span7 note-details">
                        <!-- photo-set-note template inserted here  -->
                    </div>
            </div>
        </div>


        <div class="modal hide fade clear-notes-modal" tabindex="-1" role="dialog" aria-labelledby="clear-notes" aria-hidden="true">
            <div class="modal-header">
                <h3>Clear Notes</h3>
            </div>

            <div class="modal-body">
                <form>
                    <button class="btn-primary">Apply Filters</button>
                </form>
            </div>
        </div>


    <!--                  -->
    <!-- LIST VIEW MODALS -->
    <!--                  -->


    <!--                    -->
    <!-- Filter Notes Modal -->
    <!--                    -->
        <div class="modal hide fade filter-notes-modal" tabindex="-1" role="dialog" aria-labelledby="filter-notes" aria-hidden="true">
            <div class="modal-header">
                <h3>Filter Notes</h3>
            </div>

            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <div class="row-fuild">
                            <button class="btn btn-primary">Planning Note</button>
                            <button class="btn btn-primary">Photo Set Note</button>
                            <button class="btn btn-primary">Cross-cutting Note</button>
                            <button class="btn btn-primary">Open Note</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="">Related Safari</label>
                        <select class="span8" name="" id="">
                            <option value=""></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="">Map Region</label>
                        <select class="span8" name="" id="">
                            <option value=""></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="">Tags</label>
                        <select class="span8" name="" id="">
                            <option value=""></option>
                        </select>
                        <select class="span8" name="" id="">
                            <option value=""></option>
                        </select>
                        <select class="span8" name="" id="">
                            <option value=""></option>
                        </select>
                    </div>
                    <button class="btn btn-primary">Apply Filters</button>
                </form>
            </div>
        </div> <!-- end filter notes  modal -->

    </div>




    <!--                  -->
    <!--   WRITE SCREEN   -->
    <!--                  -->

    <div id="write-screen" class="row-fluid">
        <div class="span12 view-container bs-docs-sidebar">

            <!-- Write View looks at the notes-screen-input element -->
            <div id="notes-screen-input" class="span12 input-box-wrapper">

                <div id="show-note-container" class="span12">
                    <button class="resume-note-btn btn btn-large btn-primary">Resume Note</button>
                    <button class="new-note-btn btn btn-large btn-primary" data-toggle="popover">New Note</button>
                </div>

                <div class="note-taking-toggle">
                    <div class="span12 note-taking-toggle-input-form">
                        <!-- filled by template via view -->
                    </div>

                    <div class="span12">
                        <button class="cancel-note-btn btn btn-large btn-danger ">Cancel</button>
                        <button class="share-note-btn btn btn-large btn-success ">Submit</button>
                    </div>
                </div>

                <!--  Unpublished Notes Modal-->
                <div class="modal hide fade unpublished-note-picker" tabindex="-1" role="dialog" aria-labelledby="unpublished-note-picker" aria-hidden="true">
                    <div class="modal-header">
                        <h3>Unpublished Notes</h3>
                    </div>

                    <div class="modal-body">
                        <form role="form">
                            <div class="form-group">
                                <label for="selec-note-modal">Select an unpublished note to edit:</label>
                                <select id="select-note-modal" class="form-control span10">
                                  <!-- Filled by template from view -->
                                </select>
                                <br>
                                <a class="modal-select-note btn btn-success">Edit</a>
                            </div>
                        </form>
                    </div>
                </div> <!-- end unpublished notes modal -->


                <!--  Pick Notes Type Modal-->
                <div class="modal hide fade note-type-picker" tabindex="-1" role="dialog" aria-labelledby="note-type-picker" aria-hidden="true">
                    <div class="modal-header">
                        <h3>Select a note type:</h3>
                    </div>

                    <div class="modal-body">
                        <button class="btn btn-primary btn-small planning" value="planning">Planning Note</button>
                        <button class="btn btn-primary btn-small photo-set" value="photo_set">Photo Set Note</button>
                        <button class="btn btn-primary btn-small cross-cutting" value="cross_cutting">Cross-cutting Note</button>
                        <button class="btn btn-primary btn-small open" value="open">Open Note</button>
                    </div>
                </div> <!-- end Pick Notes Type Modal -->

                <!--  Pick Photos Modal -->
                <div class="modal hide fade photo-picker" tabindex="-1" role="dialog" aria-labelledby="photo-picker" aria-hidden="true">
                    <div class="modal-header">
                        <h3>Photos</h3>             <!-- TODO: this should be different depending on note (text and color) -->
                    </div>

                    <div class="modal-body">
                        <!-- <form>
                            <button class="btn-primary">Apply Filters</button>
                        </form> -->
                        <button class="add-photos-btn btn btn-large btn-success">Add</button>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <!-- END Write Screen -->

    <!--                -->
    <!--     MODALS     -->
    <!--                -->

    <!--                -->
    <!--  LOGIN MODAL   -->
    <!--                -->

    <div id="login-picker" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="login-picker" aria-hidden="true">
      <div class="modal-header">
        <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button> -->
        <h3>Please log in</h3>
      </div>
      <div class="modal-body login-buttons">
        <!-- filled by java script with buttons for user login -->
      </div>
      <div class="modal-footer" style="display: none;">
        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Create new group</button>
      </div>
    </div>

    <div id="create-group" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="login-picker" aria-hidden="true">
      <div class="modal-header">
        <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button> -->
        <h3>Please log in</h3>
      </div>
      <div class="modal-body login-buttons">
        <!-- filled by java script with buttons for user login -->
      </div>
      <div class="modal-footer" >
        <input class="create-new-group-name" type="text" placeholder="Enter a group name..."></input>
        <button class="create-new-group btn btn-primary"  aria-hidden="true">Create</button>
      </div>
    </div>


    <div class="orientation-warning">
        <p>If you hold the device like that we can't go on a safari :(<p>
        <!-- <img src="img/skeletor-unicorn.jpg" alt="Skeletor Battle a Unicorn" /> -->
        <img src="img/elephant.png" alt="Elephant tipping car" />
        <p>Please hold the device in landscape orientation!</p>
    </div>

    <!--                  -->
    <!--  INITIALIZE  APP -->
    <!--                  -->

    <script type="text/javascript">
        jQuery(document).ready(function() {
          // extending jQuery http://stackoverflow.com/questions/31044/is-there-an-exists-function-for-jquery
          jQuery.fn.exists = function(){return this.length>0;}
          Skeletor.Mobile.init();
          jQuery('.note-taking-toggle').hide();
        });
    </script>
</body>
</html>
