<!DOCTYPE html>
<html lang="en">
<head>
    <title>Skeletor Mobile</title>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <link href="../libs/bootstrap-2.3.2.min.css" rel="stylesheet">
    <link href="../libs/bootstrap-responsive-2.3.2.min.css" rel="stylesheet">
    <link href="css/mobile.css" rel="stylesheet">
    <link href="../libs/jquery.toastmessage.css" rel="stylesheet">

    <script type="text/javascript" src="../libs/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="../libs/bootstrap-2.3.2.min.js"></script>

    <script type="text/javascript" src="../node_modules/underscore/underscore.js"></script>
    <script type="text/javascript" src="../node_modules/backbone/backbone.js"></script>

    <script type="text/javascript" src="../node_modules/backbone.drowsy/backbone.drowsy.js"></script>
    <script type="text/javascript" src="../node_modules/backbone.drowsy/wakeful.js"></script>

    <script type="text/javascript" src="../libs/jquery.toastmessage.js"></script>
    <script type="text/javascript" src="../libs/jquery.cookie.js"></script>
    <script type="text/javascript" src="../libs/purl.js"></script>

    <script type="text/javascript" src="../shared/js/skeletor.js"></script>
    <script type="text/javascript" src="../shared/js/model.js"></script>
    <script type="text/javascript" src="../shared/js/rollcall.js"></script>


    <script type="text/javascript" src="js/mobile.js"></script>
    <script type="text/javascript" src="js/mobile.view.js"></script>

    <!--                -->
    <!-- Note Template  -->
    <!--                -->

    <script id="notes-list-template" type="text/template">
        <li class="list-item span12" data-id=<%= id %>>
            <div class="note <%= me_or_others %>">
                <div class="note-text">
                    <p><%= text %></p>
                    <p class="small">Sent by <%= author %>&nbsp; on <%= created_at %></p>
                </div>
            </a>
        </li>
    </script>

    <!--           -->
    <!-- TEMPLATES -->
    <!--           -->

    <!--                                   -->
    <!-- Resume unpublished notes template -->
    <!--                                   -->

    <script id="resume-unpublished-notes" type="text/template">
        <option data-id="<%= id %>" ><%= option_text %></option>
    </script>

    <!-- reply template -->
    <script id="reply-view-template" type="text/template">
        <a class="reply">
            <div class="author-container">
                <div class="author"><%= author %></div>
            </div>
            <div class="content"><%= content %></div>
        </a>
    </script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <!-- .btn-navbar is used as the toggle for collapsed navbar content
                TODO: what does this until brand do? Took it out and didn't see change-->
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="#">Should be overwritten by project_name in config.json</a>
                <div class="nav-collapse collapse navbar-responsive-collapse">
                    <ul class="nav nav-pills">
                        <li class="read-button"><a href="#">Read</a></li>
                        <li class="write-button"><a href="#">Write</a></li>
                    </ul>
                    <ul class="nav pull-right">
                        <li class="active username-display"><a></a></li>
                        <li class="active logout-user"><a>Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!--             -->
    <!-- Read Screen -->
    <!--             -->

    <div id="read-screen" class="row-fluid">
        <div class="span12 view-container bs-docs-sidebar">
            <!-- Read View looks at the list-screen element -->
            <div id="list-screen" class="bs-docs-sidebar">
                <ul class="nav nav-list bs-docs-sidenav affix-top scrollable">
                </ul>
            </div>

        </div>
    </div>
    <!-- END Read Screen -->

    <!--              -->
    <!--  Write Screen-->
    <!--              -->

    <div id="write-screen" class="row-fluid">
        <div class="span12 view-container bs-docs-sidebar">
            <!-- Write View looks at the notes-screen-input element -->
            <div id="notes-screen-input" class="span12 input-box-wrapper">

                <div class="row-fliud">
                    <a class="resume-note-btn btn btn-large btn-primary span6">Resume Note</a>
                    <a class="new-note-btn btn btn-large btn-primary span6">New Note</a>
                </div>

                <div class="note-taking-toggle">
                    <div class="row-fuild">
                        <textarea class="note-body row-fuild" name="body" rows="10" placeholder="Enter observastions..."></textarea>
                    </div>

                    <div class="row-fliud">
                        <a class="cancel-note-btn btn btn-large btn-danger span6">Cancel</a>
                        <a class="share-note-btn btn btn-large btn-success span6">Submit</a>
                    </div>
                </div>

                <!--  Unpublished Notes Modal-->
                <div class="modal hide fade unpublished-note-picker" tabindex="-1" role="dialog" aria-labelledby="unpublished-note-picker" aria-hidden="true">
                    <div class="modal-header">
                        <h3>Unpublished Notes</h3>
                    </div>

                    <div class="modal-body">
                        <form role="form">
                            <div class="form-group">
                                <label for="selec-note-modal">Select an unpublished note to edit:</label>
                                <select id="select-note-modal" class="form-control span10">
                                  <!-- Filled by template from view -->
                                </select>
                                <br>
                                <a class="modal-select-note btn btn-success">Edit</a>
                            </div>
                        </form>
                    </div>
                </div> <!-- end unpublished notes modal -->

            </div>
        </div>
    </div> <!-- END Write Screen -->

    <!--         -->
    <!--  MODALS -->
    <!--         -->

    <!--             -->
    <!-- Login Modal -->
    <!--             -->

    <div id="login-picker" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="login-picker" aria-hidden="true">
      <div class="modal-header">
        <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button> -->
        <h3>Please log in</h3>
      </div>
      <div class="modal-body login-buttons">
        <!-- filled by java script with buttons for user login -->
      </div>
      <div class="modal-footer" style="display: none;">
        <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Create new group</button>
      </div>
    </div>

    <div id="create-group" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="login-picker" aria-hidden="true">
      <div class="modal-header">
        <!-- <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button> -->
        <h3>Please log in</h3>
      </div>
      <div class="modal-body login-buttons">
        <!-- filled by java script with buttons for user login -->
      </div>
      <div class="modal-footer" >
        <input class="create-new-group-name" type="text" placeholder="Enter a group name..."></input>
        <button class="create-new-group btn btn-primary"  aria-hidden="true">Create</button>
      </div>
    </div>

    <!--                   -->
    <!-- Note Picker Modal -->
    <!--                   -->

    <div class="orientation-warning">
        <p>If you hold the device like that we can't go on a safari :(<p>
        <!-- <img src="img/skeletor-unicorn.jpg" alt="Skeletor Battle a Unicorn" /> -->
        <img src="img/elephant.png" alt="Elephant tipping car" />
        <p>Please hold the device in landscape orientation!</p>
    </div>

    <!--                  -->
    <!--  Intitialize App -->
    <!--                  -->

    <script type="text/javascript">
        jQuery(document).ready(function() {
          // extending jQuery http://stackoverflow.com/questions/31044/is-there-an-exists-function-for-jquery
          jQuery.fn.exists = function(){return this.length>0;}
          Skeletor.Mobile.init();
          jQuery('.note-taking-toggle').hide();
        });
    </script>
</body>
</html>
