@media all and (orientation: landscape) {
  body {
    font-family: "Roboto", sans-serif; }

  .planning {
    background-image: none;
    background-color: #39b54a; }

  .photo-set {
    background-image: none;
    background-color: #fca91e; }

  .cross-cutting {
    background-image: none;
    background-color: #9282f3; }

  .open {
    background-image: none;
    background-color: #cd16ac; }

  .orientation-warning {
    display: none; }

  /*disable bootstrap default hover state*/
  .disabled {
    color: #333333 !important;
    text-decoration: none !important; }

  input {
    -moz-user-select: text;
    -webkit-user-select: text;
    user-select: text;
    color: #333; }

  /*              */
  /*  MISC Styles */
  /*              */
  /*  .label-strong{
      font-size: 1.2em;
      font-weight: 700;
    }*/
  .scrollable-y {
    overflow-y: scroll; }

  .scrollable-x {
    overflow-x: scroll; }

  .hidden {
    display: none; }

  .view-container {
    margin: 0 2%;
    min-height: 300px !important;
    margin-bottom: 10px;
    position: relative;
    background-color: white; }

  textarea.note-text-input {
    -moz-user-select: text;
    -webkit-user-select: text;
    user-select: text;
    color: #333;
    width: 98%; }

  .photo {
    width: 12em;
    height: 9em;
    margin: 0.2em; }

  .tag {
    width: 10em;
    height: 4em;
    background-color: #bbb6b5;
    border-radius: 0.2em;
    margin: 0.3em; }

  .selected {
    opacity: 0.4; }

  .btn-large {
    width: 160px; }

  .btn-small {
    width: 12em;
    height: 2em;
    font-size: 1.2em;
    margin: 1%; }

  .modal-body {
    text-align: center;
    padding-left: 10%;
    padding-right: 10%; }

  .photo-modal-body {
    text-align: center;
    padding: 2%; }

  .photo-picker {
    width: 60%; }

  .add-photos-btn {
    margin-top: 2em; }

  .note-btn-container {
    text-align: center;
    margin-top: 4em; }

  /*********************************** NAVBAR *********************************/
  /* This hides any element with class alert directly after an input field with a pattern (regex) */
  input[pattern] + .alert {
    display: none; }
  input[pattern]:invalid + .alert {
    display: inline-block; }
  input[pattern]:invalid ~ button {
    display: none; }
  input:disabled {
    display: none; }

  /* If pattern (regex) is violated alert is shown */
  /* If pattern (regex) is violated submit button is hidden */
  #login-button:disabled {
    display: none; }

  .login-button {
    margin: 1%;
    min-width: 6em; }

  .username-display .hide {
    display: none; }

  /* BODY - ALL */
  .row-fluid {
    /*width: 98%;*/
    /*padding-left: 1%;*/
    padding-top: 50px; }
    .row-fluid .hidden {
      /* TODO: this is a crude way of hiding right now and should be improved */
      display: none; }

  /******************************** WRITE *******************************/
  .note-input {
    /* think about a total container for note entry of about 60% (instead of this) */ }
    .note-input .input-container {
      width: 60%; }
    .note-input .note-type-title {
      background-color: #39b54a;
      color: white;
      padding: 0.7em 2em 0.7em;
      margin-bottom: 1.5em; }
    .note-input .form-group {
      padding-left: 20%;
      padding-right: 20%; }
    .note-input label {
      font-weight: 900; }
    .note-input hr {
      height: 7px;
      /*width: 110%;*/
      border: 0; }
    .note-input .input-field-group {
      margin-bottom: 1em; }
    .note-input .camera-btn {
      width: 3em;
      margin-left: 1em;
      /* fix this eventually - all the buttons and add related_camera_traps */ }
    .note-input .related-camera-traps-input {
      width: 2em;
      margin-left: 0.8em;
      margin-bottom: -0.1em;
      /* to get this to align with the text and button elements */
      margin-right: 0.1em; }
    .note-input .add-related-camera-traps-btn {
      color: white; }
    .note-input .camera-trap-region-dropdown {
      width: 60%; }
    .note-input .tag-btn {
      width: 1em;
      height: 1em;
      margin-left: 0.5em;
      font-size: 2.5em;
      font-weight: 900;
      color: white;
      padding-bottom: 0.25em; }

  .photos-container {
    overflow-y: scroll; }

  /*                    */
  /*   planning note    */
  /*                    */
  .planning-note-input .note-type-title {
    background-color: #39b54a; }
  .planning-note-input textarea {
    border-color: #39b54a; }
  .planning-note-input hr {
    background: #39b54a; }
  .planning-note-input .add-related-camera-traps-btn {
    background-color: #39b54a;
    border-color: #39b54a; }
  .planning-note-input .tag-btn {
    background-color: #39b54a;
    border-color: #39b54a; }

  /*                    */
  /*   photo set note   */
  /*                    */
  .photo-set-note-input .note-type-title {
    background-color: #fca91e; }
  .photo-set-note-input textarea {
    border-color: #fca91e; }
  .photo-set-note-input hr {
    background: #fca91e; }
  .photo-set-note-input .add-related-camera-traps-btn {
    background-color: #fca91e;
    border-color: #fca91e; }
  .photo-set-note-input .tag-btn {
    background-color: #fca91e;
    border-color: #fca91e; }

  /*                        */
  /*   cross-cutting note   */
  /*                        */
  .cross-cutting-note-input .note-type-title {
    background-color: #9282f3; }
  .cross-cutting-note-input textarea {
    border-color: #9282f3; }
  .cross-cutting-note-input hr {
    background: #9282f3; }
  .cross-cutting-note-input .tag-btn {
    background-color: #9282f3;
    border-color: #9282f3; }

  /*                        */
  /*   cross-cutting note   */
  /*                        */
  .open-note-input .note-type-title {
    background-color: #cd16ac; }
  .open-note-input textarea {
    border-color: #cd16ac; }
  .open-note-input hr {
    background: #cd16ac; }
  .open-note-input .tag-btn {
    background-color: #cd16ac;
    border-color: #cd16ac; }

  /******************************** READ *******************************/
  /* MAYBE CHANGE TO note-details */
  /*  .photo-set-note-screen {
      h5 {
        color: $photo-set-color;
      }
      p, h5 {
        display: inline;
      }
      .paragraph {
        display: block;
        margin: 0 0 5px 0;
        padding: 5px;
      }
    }*/
  /* hide a row */
  /* LIST SCREEN */
  #activity-dropdown {
    float: left;
    width: -moz-calc(100% - 115px);
    width: -webkit-calc(100% - 115px);
    width: calc(100% - 115px);
    height: 100%;
    font-size: 30px;
    margin-bottom: 20px; }

  .note-entry-field {
    width: 99%;
    margin-top: -11px; }

  .headline-text-entry {
    width: 65%; }

  /* INPUT SCREEN */
  .input-box-wrapper {
    padding: 5px; }

  /* LET THE GROSSNESS BEGIN */
  #list-screen .span12 {
    border-bottom: 1px solid #eeeeee; }
  #list-screen .span4 {
    max-height: 588px;
    border-right: 1px solid #eeeeee; }
  #list-screen ul {
    background-color: white; }
  #list-screen li {
    margin: 5px; }
  #list-screen .list-item {
    margin-left: 15px; }
  #list-screen .note {
    position: relative;
    padding: 10px;
    margin: 10px 0;
    width: 50%; }
  #list-screen .author-container {
    position: absolute;
    height: 100%;
    width: 60px;
    border: 1px solid black;
    margin-top: -6px;
    font-size: 20px;
    text-align: center;
    color: white;
    background-color: red; }
  #list-screen .part {
    margin-left: 70px; }
  #list-screen .create-reply-btn {
    padding-left: 70px;
    margin-top: 12px;
    margin-bottom: 3px;
    color: #08C; }
  #list-screen .reply-entry {
    position: relative;
    margin-left: 47px;
    margin-top: -3px;
    width: -moz-calc(100% - 62px);
    width: -webkit-calc(100% - 62px);
    width: calc(100% - 62px); }
  #list-screen .reply-text-entry {
    padding-right: 64px;
    width: calc(100% - 60px);
    height: 60px; }
  #list-screen .submit-reply-btn {
    position: absolute;
    /*top: 24px;*/
    bottom: 16px;
    right: 6px;
    border-radius: 3px; }
  #list-screen .reply {
    position: relative;
    width: -moz-calc(100% - 62px);
    width: -webkit-calc(100% - 62px);
    width: calc(100% - 62px);
    margin: 2px 0px -2px 47px;
    min-height: 60px; }
  #list-screen .content {
    height: 100%;
    width: -moz-calc(100% - 62px);
    width: -webkit-calc(100% - 62px);
    width: calc(100% - 62px);
    min-height: 51px;
    margin: -6px 61px;
    padding: 7px;
    border: 1px solid black;
    color: black; }

  .author {
    z-index: 2;
    text-align: center;
    padding-top: 35%; } }
@media all and (orientation: portrait) {
  .row-fluid, .navbar {
    display: none; }

  .orientation-warning {
    text-align: center;
    font-size: 2em;
    margin-top: 25%; } }
@media (max-width: 1260px) {
  li.list-item.span4 {
    width: 45%; } }
@media (max-width: 980px) {
  .row-fluid {
    padding-top: 0px; } }
