@media all and (orientation:landscape) {

	/* ALL */

	body {
		font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, sans-serif;
	}

	.orientation-warning {
		display: none;
	}

	textarea {
		-moz-user-select: text;
		-webkit-user-select: text;
		user-select: text;
		color: #333;
	}

	input {
		-moz-user-select: text;
		-webkit-user-select: text;
		user-select: text;
		color: #333;
	}

	.scrollable {
		overflow-y: auto;
	}

	.hidden {
	    display: none;
	}

	/*.bottom-btn-container {
		position: absolute;
		bottom: 3px;
		right: 3px;
	}*/

	.top-btn-container {
		position: absolute;
		top: 3px;
		right: 3px;
	}

	.view-container {
		min-height: 300px !important;
		/*border: 1px solid;*/
		padding: 5px;
		margin-bottom: 10px;
		position: relative;
		/*border-radius: 7px;*/
		/*box-shadow: rgba(0,0,0,0.2) 1px 4px 15px;*/
		background-color: white;
	}

	#graphs-screen .view-container {
		padding-bottom: 0;
		margin-bottom: 0;
	}

	#bout-picker-label .caret {
		margin-left: 5px;
	}


	/*.container-header {
		height: 40px;
		padding: 10px 5px 5px 5px;
		margin-bottom: 15px;
		background-color: #CDCBD4;
		text-align: center;
		overflow-y: auto;
		font-weight: bold;
	}*/


	/* NAVBAR */

	/* This hides any element with class alert directly after an input field with a pattern (regex) */
	input[pattern] + .alert {
		display: none;
	}

	/* If pattern (regex) is violated alert is shown */
	input[pattern]:invalid + .alert {
		display: inline-block;
	}

	/* If pattern (regex) is violated submit button is hidden */
	input[pattern]:invalid ~ button {
		display: none;
	}

	input:disabled {
		display: none;
	}

	#login-button:disabled {
		display: none;
	}

	.login-button {
		margin: 1%;
		min-width: 6em;
	}

	.username-display .hide {
		display: none;
	}

	.input-alert {
		margin-top: 2%;
	}


	/* BODY - ALL */

	.row-fluid {
	    width: 98%;
	    padding-left: 1%;
	    padding-top: 40px;
	}

	/* hide a row */
	.row-fluid .hidden {
	    /* TODO: this is a crude way of hiding right now and should be improved */
	    display: none;
	}

	/* LIST SCREEN */

	#activity-dropdown {
		float: left;
	    width: -moz-calc(100% - 115px);
	    width: -webkit-calc(100% - 115px);
	    width: calc(100% - 115px);
		height: 100%;
		font-size: 30px;
		margin-bottom: 20px;
	}

	#share-note-btn {
		float: right;
	}

	.note-entry-field {
		width: 99%;
		margin-top: -11px;
	}

	.headline-text-entry {
		width: 65%;
	}

	/* INPUT SCREEN */

	.input-box-wrapper {
		padding: 5px;
	}

	/* LET THE GROSSNESS BEGIN */

	#list-screen {
		/*background-image: url('../img/background_final_smlegend.png');*/
		/*border: 1px solid;*/
		padding: 5px;
		border-radius: 7px;
		/*box-shadow: rgba(0,0,0,0.2) 1px 4px 15px;*/
		background-color: white;
	}

	#list-screen ul {
		min-height: 200px;
		/*max-height: 485px;*/
		overflow: hidden;
		background-color: white;
	}

	#list-screen li {
		margin-bottom: -1px;
	}

	#list-screen .list-item {
		margin-left: -16px;
	}

	#list-screen .note {
		position: relative;
		border: 1px solid black;
		padding-top: 5px !important;
		color: black;
	}

	#list-screen .author-container {
		position: absolute;
		height: 100%;
		width: 60px;
		border: 1px solid black;
		margin-top: -6px;
		font-size: 20px;
		text-align: center;
		color: white;
		background-color: red;
	}

	.author {
		/*position: absolute;*/
		/*top: 35%;*/
		z-index: 2;
		text-align: center;
		padding-top: 35%;
	}


	#list-screen .part {
		margin-left: 70px;
	}

	#list-screen .create-reply-btn {
		padding-left: 70px;
		margin-top: 12px;
		margin-bottom: 3px;
		color: #08C;
	}

	#list-screen .reply-entry {
		position: relative;
		margin-left: 47px;
		margin-top: -3px;
		width: -moz-calc(100% - 62px);
		width: -webkit-calc(100% - 62px);
		width: calc(100% - 62px);
	}

	#list-screen .reply-text-entry {
		padding-right: 64px;
		width: calc(100% - 60px);
		height: 60px;
	}

	#list-screen .submit-reply-btn {
		position: absolute;
		/*top: 24px;*/
		bottom: 16px;
		right: 6px;
		border-radius: 3px;
	}

	#list-screen .reply {
		position: relative;
		width: -moz-calc(100% - 62px);
		width: -webkit-calc(100% - 62px);
		width: calc(100% - 62px);
		margin: 2px 0px -2px 47px;
		min-height: 60px;
	}

	#list-screen .content {
		height: 100%;
		width: -moz-calc(100% - 62px);
		width: -webkit-calc(100% - 62px);
		width: calc(100% - 62px);
		min-height: 51px;
		margin: -6px 61px;
		padding: 7px;
		border: 1px solid black;
		color: black;
	}


	/**** WR ****/
	#worth-remembering-list-screen {
		/*border: 1px solid;*/
		padding: 5px;
		/*border-radius: 7px;*/
		/*box-shadow: rgba(0,0,0,0.2) 1px 4px 15px;*/
		background-color: white;
		height: 100%;
	}

	#share-worth-remembering-btn {
		float: right;
	}

	.worth-remembering-entry-field {
		width: 88%;
		margin-top: -3px;
	}

	#worth-remembering-list-screen ul {
		/*min-height: 300px;
		max-height: 475px;*/
		/*height: 595px;*/
		background-color: white;
		overflow: hidden;
	}

	#worth-remembering-list-screen li {
		margin-bottom: -1px;
	}

	#worth-remembering-list-screen .list-item {
		margin-left: -16px;
	}

	#worth-remembering-list-screen .note {
		position: relative;
		border: 1px solid black;
		padding-top: 5px !important;
		color: black;
	}

	#worth-remembering-list-screen .author-container {
		position: absolute;
		height: 100%;
		width: 60px;
		border: 1px solid black;
		margin-top: -6px;
		font-size: 20px;
		text-align: center;
		color: white;
		background-color: red;
	}

	/*
	No need for repetition since both list-screen author and this author work the same
	#worth-remembering-list-screen .author {
		position: absolute;
		top: 35%;
		left: 25%;
	}*/

	#worth-remembering-list-screen .part {
		margin-left: 70px;
	}

	#worth-remembering-list-screen .create-reply-btn {
		padding-left: 70px;
		margin-top: 12px;
		margin-bottom: 3px;
		color: #08C;
	}

	#worth-remembering-list-screen .reply-entry {
		position: relative;
		margin-left: 47px;
		margin-top: -3px;
		width: -moz-calc(100% - 62px);
		width: -webkit-calc(100% - 62px);
		width: calc(100% - 62px);
	}

	#worth-remembering-list-screen .reply-text-entry {
		padding-right: 64px;
		width: calc(100% - 60px);
	}

	#worth-remembering-list-screen .submit-reply-btn {
		position: absolute;
		/*top: 24px;*/
		bottom: 16px;
		right: 6px;
		border-radius: 3px;
	}

	#worth-remembering-list-screen .reply {
		position: relative;
		width: -moz-calc(100% - 62px);
		width: -webkit-calc(100% - 62px);
		width: calc(100% - 62px);
		margin: 2px 0px -2px 47px;
		min-height: 60px;
	}

	#worth-remembering-list-screen .content {
		height: 100%;
		width: -moz-calc(100% - 62px);
		width: -webkit-calc(100% - 62px);
		width: calc(100% - 62px);
		min-height: 51px;
		margin: -6px 61px;
		padding: 7px;
		border: 1px solid black;
		color: black;
	}


	.map-screen {
		/*background-image: url('../img/background_including_texture_low.png');*/
		background-image: url('../img/background_including_texture.png');
		background-size: 100% 100%;
		background-repeat: no-repeat;
		width: inherit;
		/*height: 667px !important;*/
		height: 708px !important;
		overflow: hidden;
	}

	.map-screen-wrapper {
		padding-left: 0;
		width: 100%;
		height: 708px !important;
		overflow: hidden;
	}

	#footprints-img {
		/*background-image: url('../img/FootPrint_a-b.png');*/
		height:100%;
		width: 100%;
		background-repeat: no-repeat;
	}

	#move-tracker-title-box {
	    margin-left: -moz-calc(50% - 180px);
	    margin-left: -webkit-calc(50% - 180px);
	    margin-left: calc(50% - 180px);
		width: 370px;
		height: 40px;
		background: white;
		border-radius: 7px;

	}

	.map-title {
		font-size: 16px;
		font-weight: bold;
		text-align: center;
	}

	.patch {
		background-color: #FBFACF;
		border-radius: 10px;
		padding: 8px;
		width: 210px;
	}

	#equalization-screen .patch div:first-child {
		background-color: #e3a953;
		border-radius: 5px;
		padding: 3px 3px 0px;
	}

	.patch div:first-child label input{
		margin-bottom: 3px;
	}

	.patch-a {
		position: absolute;
		top: 50%;
		left: 77%;
	}

	.patch-b {
		position: absolute;
		top: 62%;
		left: 48%;
	}

	.patch-c {
		position: absolute;
		top: 64%;
		left: 21%;
	}

	.patch-d {
		position: absolute;
		top: 39%;
		left: 16%;
	}

	.patch-e {
		position: absolute;
		top: 13%;
		left: 22%;
	}

	.patch-f {
		position: absolute;
		top: 32%;
		left: 50%;
	}

	.equalization-squirrels-field {
		width: 50px;
	}

	.current-position {
		background-color: #056839;
		color: white;
	}

	.next-position {
		background-color: #F1592A;
		color: white;
	}

	.move-button {
		margin: 7px;
	}
}

@media all and (orientation:portrait){
	.row-fluid {
		display: none;
	}

	.navbar {
		display: none;
	}

	.orientation-warning {
		text-align: center;
		font-size: 2em;
		margin-top: 25%;
	}
}